body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (min-device-width: 768px),
  screen and (min-width: 768px) {
  .flex-header,
  .img-projects,
  .mobile-navigation {
    display: none;
  }

  /* navigation menu */
  .navigation-menu {
    border-bottom: 1px solid rgb(215, 215, 215);
  }

  .desktop-nav {
    display: initial;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 5vw;
    padding-top: 1.3vh;
    padding-bottom: 1vh;
    padding-left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1a2236;
  }

  .desktop-nav > li {
    cursor: pointer;
    transition: transform 1s;
  }

  .desktop-nav > li:hover {
    color: #f200a5;
    transform: scale(1.8);
  }

  .desktop-nav > li:nth-child(1) {
    position: relative;
    padding-bottom: 0.3vh;
  }

  .desktop-nav > li:nth-child(1)::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid rgb(38, 38, 39);
    width: 75%;
  }

  /* end of navigation menu */

  /* name, greetings and picture */
  .flex-main {
    display: grid;
    grid-template-columns: 19% 19% 12% 50%;
    grid-template-rows: auto;
    gap: 0;
  }

  .greetings {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    padding-left: 3.5vw;
    align-self: center;
  }

  .greetings > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 70px;
    color: #1a2236;
    margin: 0;
    padding-left: 5%;
  }

  .flex-main > .greetings > h3 {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    padding: 0 2vw 0 0;
  }

  .dot-image-1 {
    display: initial;
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    height: auto;
    justify-self: end;
    align-self: end;
    padding-right: 10px;
  }

  .big-image-1 {
    display: initial;
    grid-column: 4;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
  }

  /* button collaboration top */
  .button-collaboration {
    width: 50%;
    background: #1a2236;
    color: #fff;
    padding: 20px 0 20px 0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1vw;
    text-align: center;
    border: none;
    margin-top: 1vh;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 10px #193047;
    border-radius: 3px;
  }

  .button-collaboration:hover {
    background: #fff;
    box-shadow: 0 2px 10px 5px #1abc9c;
    color: #000;
  }

  .button-collaboration::after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.8s;
  }

  .button-collaboration:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  .button:focus {
    outline: 0;
  }

  /* end of button collaboration top */

  /* project section */
  .projects-section {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto;
    margin-top: 13vw;
    column-gap: 0;
  }

  .section-title {
    grid-column: 1 / 3;
    grid-row: 1;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    color: #1a2236;
    transform: rotate(-90deg);
    justify-self: center;
    align-self: flex-start;
  }

  .dot-image-2 {
    display: initial;
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: auto;
    justify-self: first baseline;
    align-self: self-start;
    margin-left: -10px;
  }

  .projects-section > div:nth-child(4) {
    grid-column: 4 / 11;
    grid-row: 1;
  }

  .projects-section > div:nth-child(4) > .project-img-rectangle {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
    height: auto;
  }

  .projects-section > div:nth-child(4) > .project-info {
    margin-top: 15vh;
    background: #1a2236;
    backdrop-filter: blur(12px);
    color: #fff;
    height: fit-content;
    justify-self: end;
  }

  .projects-section > div:nth-child(4) > div > .project-name {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 80%;
    color: #fff;
    margin-top: -16.5vh;
    padding-top: 3.5vh;
    /* padding-left: 5%; */
  }

  .projects-section > div:nth-child(4) > div > .stack-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4%;
    /* padding-left: 5%; */
  }

  .projects-section > div:nth-child(4) > div > .stack-list li {
    background: #98dede;
    padding: 1.5% 3%;
    color: #1a2236;
  }

  .projects-section > div:nth-child(4) > div > button {
    background: #fff;
    color: #1a2236;
    margin: 5% 0;
    padding: 1.5% 3.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  .projects-section > div:nth-child(5) {
    grid-column: 1 / 11;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 10%);
    padding-top: 0;
  }

  .projects-section > div:nth-child(5) > .project-img-rectangle {
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: end;
    justify-self: end;
    margin-bottom: -0.2vh;
  }

  .projects-section > div:nth-child(5) > .img-geo-2 {
    display: initial;
    grid-column: 4 / 7;
    grid-row: 2;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .projects-section > div:nth-child(5) > .only-for-desktop {
    display: initial;
    grid-column: 7 / 10;
    grid-row: 2;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .projects-section > div:nth-child(5) > .project-info {
    display: none;
  }

  .projects-section > div:nth-child(6) {
    grid-column: 1 / 11;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(5, 13%);
  }

  .projects-section > div:nth-child(6) > .project-img-rectangle {
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projects-section > div:nth-child(6) > .project-img-rectangle_2 {
    display: flex;
    grid-column: 5 / 7;
    width: 100%;
    height: auto;
    object-fit: fill;
    align-self: end;
    /* margin-left: 9px; */
  }

  .projects-section > div:nth-child(6) > .project-info {
    display: none;
  }

  .projects-section > div:nth-child(7) {
    grid-column: 1 / 11;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(5, 13%);
  }

  .projects-section > div:nth-child(7) > .img-small {
    display: flex;
    grid-column: 1 / 5;
    justify-content: space-between;
    height: 30%;
    /* margin-right: -9px; */
  }

  .projects-section > div:nth-child(7) > .project-img-rectangle {
    grid-column: 5 / 7;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -1px;
    /* margin-left: 9px; */
  }

  .projects-section > div:nth-child(7) > .project-info {
    display: none;
  }

  .projects-section > div:nth-child(8) {
    display: none;
  }

  .projects-section > div:nth-child(9) {
    grid-column: 7;
    grid-row: 3;
    display: flex;
    flex-direction: column-reverse;
    width: 35vw;
    height: auto;
    position: relative;
    top: -58.5%;
    right: -45%;
  }

  .projects-section > div:nth-child(9) > .project-img-rectangle {
    margin-top: -0.2%;
  }

  .projects-section > div:nth-child(9) > .project-info {
    background: #1a2236;
    backdrop-filter: blur(12px);
    color: #fff;
  }

  .projects-section > div:nth-child(9) > .project-info > .project-name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 3%;
    padding-top: 3%;
    margin-top: 0;
  }

  .projects-section > div:nth-child(9) > .project-info > .stack-list {
    display: flex;
    list-style: none;
    gap: 1.5vw;
    padding-left: 0;
    margin-left: 3%;
  }

  .projects-section > div:nth-child(9) > .project-info > .stack-list > .stack {
    font-weight: 300;
    font-size: 10px;
    color: #1a2236;
    background: #98dede;
    padding: 1.5%;
  }

  .projects-section > div:nth-child(9) > .project-info > button {
    width: fit-content;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #1a2236;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 1px solid #fff;
    padding: 1%;
    margin-left: 3%;
  }

  .projects-section > div:nth-child(9) > .project-info > button:hover {
    background: #1a2236;
    color: #fff;
    font-weight: 700;
  }

  .projects-section > div:nth-child(10) {
    display: none;
  }

  /* modal project details */
  .modal-project {
    background-color: #1a2236;
  }

  .modal-desktop-container {
    background: #fff;
    width: 85%;
    height: auto;
    margin: 7.2% auto;
  }

  .modal-project-name {
    font-size: 40px;
    text-align: left;
    margin-top: -8%;
    margin-bottom: 5%;
    padding-left: 5%;
  }

  .modal-stack-list {
    justify-content: flex-start;
    padding-left: 5%;
    gap: 3%;
  }

  .modal-project-details-text {
    width: 70%;
    margin: 0 auto;
  }

  .modal-project-details-text-h3 {
    font-size: 15px;
  }

  .modal-buttons {
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .modal-buttons-p {
    width: 35%;
    font-size: 15px;
    padding: 0.5% 0 0.5% 5%;
    margin: 3% 3% 10% 0;
    text-align: left;
  }

  .modal-img-ic-link {
    width: 17px;
    padding-left: 30%;
    margin-bottom: -3px;
  }

  .modal-img-ic-github {
    width: 19px;
    padding-left: 15%;
    margin-bottom: -3px;
  }

  .left-right-arrow-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .left-right-arrow-project p {
    font-size: 15px;
    margin-bottom: 5%;
  }

  .all-about {
    display: none;
  }

  .about-images-desktop {
    display: initial;
    width: 95%;
    height: auto;
    object-fit: contain;
    margin-top: 10vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 10vh;
  }

  .get-started-background {
    display: grid;
    grid-template-columns: 20% 5% 5% 40% 5% 5% 20%;
    grid-template-rows: auto;
    background: #f9f9fa;
  }

  .img-before-get-started {
    display: none;
  }

  .img-before-get-started_desktop {
    display: initial;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 100%;
    height: auto;
    object-fit: fill;
  }

  .image-after-started-image {
    display: initial;
    grid-column: 6 / 8;
    grid-row: 5 / 7;
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: end;
    justify-self: start;
  }

  .get-started-section {
    grid-column: 2 / 7;
    grid-row: 1 / 7;
    margin-left: -5vw;
  }

  .get-started-background > section > h1 {
    transform: none;
    margin-top: 10vh;
    margin-bottom: 4vh;
  }

  .get-started-background > .get-started-section > .section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    padding: 0;
  }

  .get-started-background > .get-started-section > .section-title > .greetings {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
  }

  .form-message {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 8%;
  }

  .yours {
    border: none;
  }

  .yours label {
    width: 100%;
    color: #7d7c84;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding-top: 5px;
    text-align: start;
    border: none;
    padding-left: 0;
  }

  .yours input,
  .yours textarea {
    width: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid rgb(173, 171, 171);
    border-right: 1px solid rgb(173, 171, 171);
    border-bottom: 1px solid rgb(173, 171, 171);
    border-left: 1px solid rgb(173, 171, 171);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .yours > .label-textarea-mobile {
    display: none;
  }

  .yours > label.label-textarea-desktop {
    display: initial;
  }

  #textarea {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 219%;
    margin-left: 4%;
    margin-right: 920%;
    border-radius: 5px;
    margin-bottom: 15%;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(29, 28, 28);
    text-align: start;  /* Firefox */
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: start;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: start;
  }

  .email-form-error-message {
    padding-left: 20%;
    font-size: 15px;
  }

  .button-get-started {
    width: 50%;
    background: #1a2236;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: 1px hidden;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 28%;
  }

  .button-get-started:hover {
    background: #fff;
    color: #1a2236;
    font-weight: 500;
    border: solid 1px #1a2236;
  }

  .button-get-started:active {
    background: #1a2236;
    color: #fff;
  }

  .footer {
    display: flex;
    background: #1a2236;
    color: #98dede;
    align-items: center;
  }

  .footer h2 {
    margin: 0;
    padding-left: 10vw;
    font-size: 14px;
    font-weight: 400;
  }

  .icon-sosmed {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 24px;
    height: 24px;
    padding-top: 5%;
    padding-left: 15vw;
  }
}
