/* mobile version */

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

.desktop-nav,
.dot-image-1,
.big-image-1,
.dot-image-2,
.img-geo-2 {
  display: none;
}

a {
  all: unset;
}

span {
  font-size: 20px;
}

.navigation-menu {
  border-bottom: none;
}

.flex-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.img-header {
  flex-grow: 2;
  width: 166.5px;
  height: 111px;
}

.ic-menu {
  flex-grow: 2;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 25px;
  height: auto;
  cursor: pointer;
}

/* mobile-menu */
.mobile-navigation {
  display: none;
}

.top-img-x {
  display: flex;
}

.img-x-left {
  width: 80%;
  cursor: pointer;
}

.a-img-x {
  flex-grow: 1;
}

.img-x {
  width: 20px;
  height: auto;
  padding: 35%;
}

.mid-mobile-menu {
  margin-top: 23.5%;
  margin-bottom: 23.5%;
}

.mid-mobile-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 50px;
  font-size: 25px;
  font-weight: 500;
}

.mid-mobile-menu > ul > li {
  cursor: pointer;
}

.mid-mobile-menu > ul > li:hover {
  color: #e2505c;
}

.dot-b-image {
  width: 55px;
  height: auto;
  padding-bottom: 10%;
  padding-left: 20%;
}

.mask-image {
  width: 100%;
  height: auto;
}

/* end of mobile-menu */

.flex-main {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.name {
  /* Charlie Giorgania */
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding: 40px 0 10px 4.5vw;
  width: 80%;
}

.greetings > h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.08em;
  color: #1a2236;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-collaboration {
  width: 90%;
  align-self: center;
  background: #1a2236;
  color: #fff;
  padding: 15px 0 15px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  border: 1px hidden;
  margin-top: 20px;
  margin-right: 5%;
  margin-left: 3.5%;
}

.button-collaboration:hover {
  background: #fff;
  color: #1a2236;
  font-weight: 500;
  border: solid 1px #1a2236;
}

.button-about {
  width: 90%;
  align-self: center;
  background: #1a2236;
  color: #fff;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  border: 1px hidden;
  margin-top: 20px;
}

.button-about:hover {
  background: #98dede;
  font-weight: 600;
}

.button-about > img {
  align-self: flex-end;
}

.projects-section {
  display: grid;
}

.img-projects {
  display: inline;
  grid-column: 1 / 11;
  grid-row: 1;
  margin-top: 45px;
  width: 100%;
  height: min-content;
}

.section-title {
  grid-column: 1 / 11;
  grid-row: 2;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 65px;
  margin-bottom: 45px;
  padding-left: 20px;
  transform: none;
}

/* start here for project section */

/* global css for project secion */
.projects-section .project-info h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 80%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}

.stack-list {
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
  color: #1a2236;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  list-style: none;
  padding-inline-start: 0;
}

.stack {
  background: #98dede;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  width: fit-content;
}

.stack:hover {
  background: #1a2236;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
}

.see-project {
  width: fit-content;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.see-project:hover {
  background: #fff;
  color: #1a2236;
  font-weight: 700;
}

/* end of global css for project secion */

.projects-section > div:nth-child(4) {
  grid-column: 1 / 11;
  grid-row: 3;
  height: fit-content;
}

.projects-section > div:nth-child(4) > .project-img-rectangle {
  width: 100%;
  height: auto;
}

.projects-section > div:nth-child(4) > .project-info {
  margin-top: -4.5vh;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  height: fit-content;
  padding-left: 5%;
}

.projects-section > div:nth-child(4) > div > .project-name {
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 80%;
  color: #fff;
  padding-top: 3.5vh;
  padding-bottom: 5%;
}

.projects-section > div:nth-child(4) > div > .stack-list {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
  color: #1a2236;
  gap: 10px;
  justify-content: flex-start;
  list-style: none;
  padding-bottom: 5%;
}

.projects-section > div:nth-child(4) > div > .stack-list li {
  background: #98dede;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  width: fit-content;
}

.projects-section > div:nth-child(4) > div > .stack-list li:hover {
  background: #1a2236;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
}

.projects-section > div:nth-child(4) > div > button {
  width: fit-content;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.projects-section > div:nth-child(4) > div > button:hover {
  background: #fff;
  color: #1a2236;
  font-weight: 700;
}

.projects-section > div:nth-child(5) {
  display: initial;
  grid-column: 1 / 11;
  grid-row: 4;
  padding-top: 0;
}

.projects-section > div:nth-child(5) > .project-img-rectangle {
  width: 100%;
}

.projects-section > div:nth-child(5) > .only-for-desktop {
  display: none;
}

.projects-section > div:nth-child(5) > .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -10px;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

.projects-section > div:nth-child(6) {
  display: initial;
  grid-column: 1 / 11;
  grid-row: 5;
}

.projects-section > div:nth-child(6) > .project-img-rectangle {
  width: 100%;
  height: auto;
}

.projects-section > div:nth-child(6) > .project-img-rectangle_2 {
  display: none;
}

.projects-section > div:nth-child(6) > .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -10px;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

.projects-section > div:nth-child(7) {
  display: initial;
  grid-column: 1 / 11;
  grid-row: 6;
}

.projects-section > div:nth-child(7) > .img-small {
  display: none;
}

.projects-section > div:nth-child(7) > .project-img-rectangle {
  width: 100%;
  margin-top: -10px;
}

.projects-section > div:nth-child(7) > .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -10px;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

.projects-section > div:nth-child(8) {
  display: initial;
  grid-column: 1 / 11;
  grid-row: 7;
}

.projects-section > div:nth-child(8) > .project-img-rectangle {
  width: 100%;
  margin-top: 0;
}

.projects-section > div:nth-child(8) > .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -10px;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

.projects-section > div:nth-child(9) {
  display: none;
}

.projects-section > div:nth-child(10) {
  display: initial;
  grid-column: 1 / 11;
  grid-row: 8;
}

.projects-section > div:nth-child(10) > .project-img-rectangle {
  width: 100%;
}

.projects-section > div:nth-child(10) > .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -10px;
  background: #1a2236;
  backdrop-filter: blur(0.5px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

/* modal project details */
.modal-project {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
}

.modal-x-button {
  display: flex;
  justify-content: flex-end;
}

.x-cross-modal {
  padding: 5%;
}

.modal-project-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 80%;
  letter-spacing: 0.02em;
  color: #1a2236;
  margin-top: 10px;
  margin-bottom: 10%;
  text-align: center;
}

.modal-stack-list {
  display: flex;
  flex-direction: row;
  width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 80%;
  color: #1a2236;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
}

.modal-stack {
  background: #fff;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  width: fit-content;
  border: 1px solid #1a2236;
}

.modal-stack:hover {
  background: #1a2236;
  padding: 10px 15px 10px 15px;
  letter-spacing: 0.1em;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
}

.modal-img-slider {
  display: flex;
  justify-content: center;
}

.modal-img-slider-big {
  margin-top: 7%;
  width: 95%;
  height: auto;
}

.modal-img-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.modal-img-list-small {
  width: 22.7%;
  height: auto;
}

.modal-img-list-small:hover {
  border: 3px solid black;
  gap: 0;
}

.modal-project-details-text {
  text-align: justify;
  padding: 5% 5% 0;
}

.modal-project-details-text-h3 {
  font-size: 21px;
  font-weight: 400;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.modal-buttons-p {
  border: 1px solid #1a2236;
  width: 70%;
  text-align: center;
  padding: 20px;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  margin: 5%;
}

.modal-buttons-p:hover {
  background: rgba(190, 218, 244, 0.811);
  border: 2px solid #fff;
}

.modal-img-ic-link {
  width: 30px;
  height: auto;
  margin-right: -70px;
  margin-bottom: -5px;
  padding-left: 70px;
}

.modal-img-ic-github {
  width: 30px;
  height: auto;
  margin-right: -50px;
  margin-bottom: -5px;
  padding-left: 50px;
}

/* about css start here */
.about-images-desktop {
  display: none;
}

.all-about {
  display: initial;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.about-section {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-bottom: 55px;
}

.works-lfs-grid {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 70px;
}

.languages-section {
  display: flex;
  flex-direction: column;
  background: #1c528a;
  color: #fff;
  width: 90%;
  justify-self: center;
}

.languages-section > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 70px;
}

.languages-section > ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.0525em;
  padding-left: 90px;
}

.languages-section > img {
  width: 132px;
  height: 132px;
  align-self: self-end;
  margin-top: -30px;
}

.frameworks-section {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  background: #e2505c;
  color: #fff;
  width: 90%;
  justify-self: center;
}

.frameworks-section > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 70px;
}

.frameworks-section > ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.0525em;
  padding-left: 90px;
}

.frameworks-section > img {
  width: 132px;
  height: 132px;
  align-self: self-end;
  margin-top: -70px;
  margin-left: -70px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  background: #febf52;
  color: #fff;
  width: 90%;
  justify-self: center;
}

.skills-section > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 70px;
}

.skills-section > ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.0525em;
  padding-left: 90px;
}

.skills-section > img {
  width: 132px;
  height: 132px;
  align-self: self-end;
  margin-top: -70px;
}

.img-before-get-started {
  display: initial;
  width: 166.5px;
  height: 111px;
  margin-bottom: 20px;
}

.img-before-get-started_desktop {
  display: none;
}

.image-after-started-image {
  display: none;
}

.get-started-background {
  display: flex;
  flex-direction: column;
  background: #ebebee;
  width: 100%;
}

.get-started-background > .get-started-section > .section-title {
  font-size: 50px;
  text-align: left;
  padding-left: 8vw;
}

.get-started-section > .greetings {
  font-size: 16px;
}

.form-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
}

.yours {
  border: none;
}

.yours label {
  display: block;
  width: 80%;
  color: #8f8c8c;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  padding-top: 2%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  border-top: 1px solid rgb(173, 171, 171);
  border-right: 1px solid rgb(173, 171, 171);
  border-bottom: none;
  border-left: 1px solid rgb(173, 171, 171);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.yours input,
.yours textarea {
  display: block;
  width: 80%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 1px solid rgb(173, 171, 171);
  border-right: 1px solid rgb(173, 171, 171);
  border-top: none;
  border-bottom: 1px solid rgb(173, 171, 171);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.yours > .label-textarea-desktop {
  display: none;
  height: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(29, 28, 28); /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.button-get-started {
  width: 90%;
  background: #1a2236;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border: 1px hidden;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.button-get-started:hover {
  background: #fff;
  color: #1a2236;
  font-weight: 500;
  border: solid 1px #1a2236;
}

.button-get-started:active {
  background: #1a2236;
  color: #fff;
}

.footer {
  display: block;
  background: #1a2236;
  color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer h2 {
  margin-top: 0;
  padding-top: 25px;
  padding-left: 8vw;
  padding-bottom: 35px;
  letter-spacing: 2px;
}

.img-get-resume {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
}

.icon-sosmed {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  padding-left: 8vw;
  width: 24px;
  height: 24px;
  padding-bottom: 4vh;
}
